{% extends 'base.html.twig' %}


{% block body %}

<body>
    <div class="container">
       
        <div class="row">
            <div class="col-12 text-center">
                <h1>recu d'envoi</h1>
            </div>
        </div>

        <p>
        prenom envoyeur: {{transaction.prenomEnv}}
        </p>
        
    </div>
</body>

</html>
{% endblock %}
   


